<!DOCTYPE html>
<html lang="en">
<head>
    <meta Charest='UTF-8'>
    <title>User Management</title>

    <!-- <script type="text/javascript" src={{url_for('static', filename='add.js')}}></script> -->
</head>
<body>
    <div align="center">
    {% if message %} {{message}} {% endif %}
    <form method="POST">
        <input type="text" name="username" placeholder="username">
        <br/>
        <input type="password" name="password" placeholder="password">
        <br/>
        <input type="submit" name="submit" value="submit">
        <input type="reset" name="reset" value="reset">
    </form>
    </div>
</body>

</html>
