<!DOCTYPE html>
<html lang="en">
<head>
    <meta Charest='UTF-8'>
    <title>User Management</title>

    <!-- <script type="text/javascript" src={{url_for('static', filename='add.js')}}></script> -->
</head>
<body>
    <div align="center">
    <h1>User Management</h1>
    {% if message %} {{message}} {% endif %}
    <form method="post">
        {{form.username}}
        <br>
        {{form.password}}
        <br>
        <input type="submit" name="submit" value="submit" />
        <input type="reset" name="reset" value="reset" />
    </form>
    </div>
</body>

</html>
